<section>
    <div class="jumbotron infos">
        <div class="left">
            <ul>
                <li class="titre-li">Nous contacter</li><br>
                <li>Email : Email@gmail.com</li><br>
                <li>Telephone : 06 32 26 79 11</li><br>
                <li>Adresse : 13 rue du general leclerc 77100 Meaux</li><br>
            </ul>
        </div>
        <div class="middle">
            <ul>
                <li class="titre-li">Partenaire</li><br>
                <li>ADA</li><br>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li class="titre-li">Réseaux sociaux</li><br>
                <li class="list">
                    <a href="#!">
                        <span class="fa-stack fa-lg reseaux">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <br>
                <li class="list">
                    <a href="#!">
                        <span class="fa-stack fa-lg reseaux">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
                <br>
                <li class="list">
                    <a href="#!">
                        <span class="fa-stack fa-lg reseaux">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer class="footer">
    <p>Carma-auto &copy;Copyright 2022</p>
</footer>