<section>
    <div class="jumbotron footer1">
        <div class="div-left">
            <p>
                Partenaires
            </p>
        </div>
        <div class="div-right">

        </div>
    </div>
</section>
<footer class="footer">
    <p>Carma-auto &copy;Copyright 2022</p>
</footer>