{% extends 'base.html.twig' %}

{% block title %}Envoi de mail de réinitialisation{% endblock %}

{% block body %}
    <p>
        Si votre email existe dans notre base nous vous enverrons un email avec un lien qui vous permettra de réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas l'email regarder dans vos spams <a href="{{ path('app_forgot_password_request') }}">Renvoyer</a>.</p>
{% endblock %}
