{% extends 'base.html.twig' %}

{% block title %}New{% endblock %}

{% block body %}
<h1 class="text-center">Réserver votre véhicule</h1>


<div class="container">
    <select class="custom-select" size="3">
        {% for category in categories %}
        <option value="1">{{category.name}}</option>
        {% endfor %}
    </select>

</div>





{% endblock %}