.infos {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(238, 210, 50);
  width: 100%;
  margin-top:20px;
  height: auto;
  flex-wrap: wrap;

}

.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titre-li {
    font-size:20px;
    font-weight:bold;
}

.reseaux{
    color: black;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
