
  .logo{
    width: 110px;
  }

  .jumbotron{
    margin-top: 0;
    border-radius: 0;
  }
  #banner{
    background-color:rgb(240, 71, 10);
    font-size:larger;
    margin: 0;
  }
  /*----------------bouton hamburger----------------*/


