.nav {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.nav-left{
    font-weight: bold;
}


.header > nav > ul > a {
    padding: 10px;
    font-size: larger;
    color: black;
  }

  .logo{
    width: 110px;
  }
  /*----------------bouton hamburger----------------*/

#btnHamburger {
    display: none;
  }
  
.btnHamburger  {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
  }
