
  .logo{
    width: 70px;
  }

  .tel{
    font-size: 25px;
  }

  .search{
    margin-top: 0;
    border-radius: 0;
    background-color: rgb(238, 210, 50);
  }
  #banner{
    background-color:grey;
    font-size:larger;
    margin: 0;
  }
  /*----------------bouton hamburger----------------*/


