/* Reset */
* {
  font-family: sans-serif;
  text-decoration: none;
  list-style:none ;
}

/* page single  */

.single {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.single-item1 {
  font-size: 20px;
  font-weight: bold;
}

.single-item2 {
  font-size: 20px;
  font-weight: bold;
}

.categ{
  font-size: 20px;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}
