{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}
{% block body %}


<br><br><br><br>
<div class="alert alert-success">
    <h1>{{message}}</h1>
</div>





{% endblock %}